@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

body {
  background-color: #f5f6fa;
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
  font-size: 1.5rem;
}
